.weather {
  &__location {
    &--icon {
    }
  }

  &__time {
    font-weight: 200;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon {
      height: 10rem;
    }

    &__temp {
      font-size: 12rem;
    }
  }
}
