.u-container {
  max-width: 60rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 3rem;
}

.u-container-s {
  max-width: 50rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 3rem;
}

.u-center-text {
  text-align: center;
}

.heading-primary {
  font-weight: 400;
}

.mb-s {
  margin-bottom: 1.5rem;
}

.mb-m {
  margin-bottom: 5rem;
}

.mb-l {
  margin-bottom: 12rem;
}
